<div id="hamburger-menu"><nav>
        <ul class="navbar">
            <li><a href="http://localhost:3000/pokedex"><button>Home</button></a></li>
            <li><a href="http://localhost:3000/new"><button>Make a New Pokemon</a></button></li>
        </ul>
    </nav>
</div>