<nav>
        <ul class="navbar">
            <li><a href="http://localhost:3000/pokedex">Back to Top</a></li>
            <li><a href="http://localhost:3000/new">Make a New Pokemon</a></li>
        </ul>
    </nav>