<div id="hamburger-menu"><nav>
        <ul class="navbar">
            <li><a href="http://localhost:3000/pokedex">Home</a></li>
            <li><a href="http://localhost:3000/new">Make a New Pokemon</a></li>
        </ul>
    </nav>
</div>