<div id="hamburger-menu" class="<%- (screenSize > 960) ? 'large-screen': 'small-screen'%>">
    <ul class="navbar">
        <li class="navbar-li"><a href="http://pokedex.benjaminisaachines.com/pokedex" class="button">Home</a></li>
        <li class="navbar-li"><a href="http://pokedex.benjaminisaachines.com/new" class="button">New Pokemon</a></li>
    </ul>
</div>