<div id="hamburger-menu" class="<%- (screenSize > 960) ? 'large-screen': ((screenSize >= 521) ? 'medium-screen': 'small-screen')%>"><nav>
        <ul class="navbar">
            <li class="navbar-li"><a href="http://pokedex.benjaminisaachines.com/pokedex"><button>Home</button></a></li>
            <li class="navbar-li"><a href="http://pokedex.benjaminisaachines.com/new"><button>Make a New Pokemon</a></button></li>
        </ul>
    </nav>
</div>