<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Pokedex Homepage</title>
</head>
<body>
    <header>
        <h1>Welcome to the Pokedex</h1>
        <%- include('./partials/header.ejs')%>
    </header>
    <div class="container">
        <h1></h1>
    </div>
</body>
</html>