html,
body {
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url(./images/PokemonImg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

p {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 0;
  color: blue;
}

header {
  width: 101%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: right;
  margin: 0 auto;
}

header h1 {
  color: white;
  font-size: 1.5em;
  width: 50%;
  padding-top: 3%;
  margin-right: 25%;
  padding-left: 3%;
  top: 0%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  left: 50%;
  padding-top: 3%;
  width: 100%;
}

nav li {
  margin-top: 5%;
  padding: 0% 1% 3% 1%;
  width: 100%;
}

nav a {
  text-align: left;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: gray;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.container a {
    text-decoration: none;
    color: white;
}

.each {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 15px;
  flex-wrap: wrap;
  flex-flow: row wrap;
  width: 23%;
  align-items: center;
  text-align: center;
  margin: 4%;
  padding: 1%;
}

.each h3 {
  font-size: 1.35em;
  text-align: center;
  color: white;
}

.each img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 2%;
}

button ,  a{
  color: white;
}

button:hover , a:hover{
  color: #707070;
}

.show {
    width:70%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

#show, #formStuff {
    margin-top: 10%; 
    border-radius: 15px 15px 0px 0px;
}

#formStuff  h5{
    text-align: center;
    align-content: center;
    margin-left: 25%;
}

#show h5 {
    margin-top: 5%;
}

#showTwo {
    margin-bottom: 10%;
}

.show img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-left: 2%;
    margin-top: 3%;
}

 .show a{
   margin-left: 2%;
  padding-top:5%;
}

#formula{
  border-radius: 0px 0px 15px 15px;
}

#formula2{
  margin-top: 15%;
  border-radius: 15px;
}

#formula form, #formula2 form{
    width: 50%;
    margin-left: 25%;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.show a {
    text-decoration: none;
    color: white;
}

.show h5 {
    font-size: 1.25em;
    margin:1% 3%;
}

.stats {
    margin-left: 5%;
}

.damages {
    margin-left: 5%;
}

input {
    color: black;
}

@media only screen 
and (min-device-width: 400px)
and (max-device-width: 750px)  { 

  .container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}
  .each {
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 60%;
  align-items: center;
  text-align: center;
  margin: 4% 15%;
  padding: 1%;
}
.each img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-left: 2%;
    margin-top: 3%;
}
#hamburger-menu {
  width: 100%;
}
#hamburger-menu ul{
  float: right;
  flex-direction: column;
  margin-top: 5%;
}

#formStuff h5{
  margin-left: 5%;
}
#formula.show form{
  width: 70%;
  padding-top: 5px;
  margin-left: 5%;
}

button, a {
  font-size: .5em;
}
header h1 {
  padding: 5% 0% 5% 3%;
  font-size: 1.4em;
  margin-right: 0 auto;
}
.formula.show form {
  align-content: left;
}
}